* {
  margin: 0;
  padding: 0;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}
html {
  -webkit-text-size-adjust: 100%;
}
.hidden {
  display: none;
}

/*  upper part     */
.container {
  height: 700px;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("./image/1.jpg");
  background-size: cover;
  border-bottom: 10px solid gray;
  display: flex;
  flex-direction: column;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  padding: 30px;
  height: 40px;
}
.register {
  display: flex;
  flex-direction: row;
  margin: 30px 30px 0px 0px;
}
#lang {
  padding: 5px 5px 5px 5px;
  background-color: rgb(43, 42, 42);
  color: white;
}
.signin {
  height: 35px;
  color: white;
  border-radius: 5px;
  padding: 4px 16px;
  background-color: #e50914;
  margin-left: 20px;
  border: 1px solid red;
  font-size: small;
  cursor: pointer;
}
.disp {
  color: white;
  margin: auto;
  align-items: center;
  box-sizing: border-box;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}
input[type="text"] {
  background: transparent;
  color: white;
  padding: 20px 200px 20px 20px;
  border-radius: 10px;
  border: 1px solid gray;
}
.inpbutton {
  background-color: #e50914;
  color: white;
  font-weight: 600;
  padding: 10px;
  font-size: 25px;
  border-radius: 5px;
  border: 1px solid #e50914;
  cursor: pointer;
}
.disp-1 {
  text-align: center;
}
.disp-2 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 15px;
}
.disp-3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 15px;
}
.disp-4 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
  margin-bottom: 15px;
}

/*              cards                         */
.cards {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
}
.c-11 {
  width: 100%;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 10px solid gray;
  text-align: center;
}
.c-111 {
  width: 40%;
  margin: auto;
}
.c-111 > h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
.c-111 > h4 {
  font-size: 25px;
}
.cardimg {
  width: 50%;
}
h4,
h2 {
  color: white;
}
/*  question     */
.drop {
  background-color: black;
  margin: auto;
  border-bottom: 10px solid gray;
}
.title {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: 900;
}
.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}
.ques {
  cursor: pointer;
  padding: 24px;
  font-size: 1.6rem;
  background-color: #222;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
.img {
  background: transparent;
  width: 40px;
}
.ques:hover {
  background-color: #404040;
  cursor: pointer;
}
.popup {
  padding: 24px;
  font-size: 1.6rem;
  background-color: #222;
  color: white;
  text-align: left;
  width: 80%;
  position: relative;
  animation: slideDown 0.3s ease;
}
@keyframes slideDown {
  from {
    transform: translateY(-5%);
  }
  to {
    transform: translateY(0);
  }
}
.disp-5 {
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.bo {
  margin-bottom: 50px;
}

/*        footer         */
.footer {
  padding: 50px 0px;
  background-color: black;
}
.subfooter {
  color: #aaa;
  width: 80%;
  margin: auto;
}
.call {
  text-align: left;
  margin-bottom: 20px;
}
.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  /* max-width: 1200px; */
  /* margin: 0 auto; */
}

.footer-section {
  min-width: 250px;
  margin: 10px 0;
  box-sizing: border-box;
}
.footer-section p {
  margin: 10px 0;
  text-decoration: underline;
  cursor: pointer;
}
.foot {
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .footer-section {
    flex-basis: calc(50% - 20px);
  }
}

@media screen and (max-width: 960px) and (min-width: 600px) {
  .disp-2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .disp-3 {
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .disp-4 {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
    margin-bottom: 15px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
  }
  .cardimg {
    width: 60%;
    margin: auto;
  }
  .c-11 {
    width: 100%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 10px solid gray;
    text-align: center;
  }
  .c-111 {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin: auto; */
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .c-111 > h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .c-111 > h4 {
    font-size: 20px;
  }
  .cardimg {
    width: 50%;
  }
  .title {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 700;
  }
  .ques {
    cursor: pointer;
    padding: 24px;
    font-size: 20px;
    background-color: #222;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }
}
@media screen and (max-width: 599px) and (min-width: 400px) {
  .signin {
    /* height: 35px; */
    color: white;
    border-radius: 5px;
    padding: 4px 15px;
    background-color: #e50914;
    margin-left: 10px;
    border: 1px solid red;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
  }
  .disp-2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .disp-3 {
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .disp-4 {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
    margin-bottom: 15px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
  }
  .cardimg {
    width: 50%;
    margin: auto;
  }
  .c-11 {
    width: 100%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 10px solid gray;
    text-align: center;
  }
  .c-111 {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin: auto; */
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .c-111 > h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .c-111 > h4 {
    font-size: 16px;
  }
  .cardimg {
    width: 40%;
  }
  .title {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 700;
  }
  .ques {
    cursor: pointer;
    padding: 24px;
    font-size: 20px;
    background-color: #222;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  input[type="text"] {
    background: transparent;
    color: white;
    padding: 20px 200px 20px 20px;
    border-radius: 10px;
    border: 1px solid gray;
  }
  .inpbutton {
    background-color: #e50914;
    color: white;
    font-weight: 600;
    text-align: center;
    /* width: 200px; */
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid #e50914;
    cursor: pointer;
  }
}

@media screen and (max-width: 399px) and (min-width: 300px) {
  .logo {
    padding: 30px 10px 10px 10px;
    height: 30px;
  }
  .register {
    display: flex;
    flex-direction: row;
    /* margin: 30px 30px 0px 0px; */
  }
  #lang {
    padding: 5px 5px 5px 5px;
    background-color: rgb(43, 42, 42);
    color: white;
  }
  .signin {
    /* height: 35px; */
    color: white;
    border-radius: 5px;
    padding: 4px 16px;
    background-color: #e50914;
    border: 1px solid red;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
  }
  .disp-2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .disp-3 {
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .disp-4 {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
    margin-bottom: 15px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
  }
  .cardimg {
    width: 60%;
    margin: auto;
  }
  .c-11 {
    width: 100%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 10px solid gray;
    text-align: center;
  }
  .c-111 {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin: auto; */
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .c-111 > h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .c-111 > h4 {
    font-size: 15px;
  }
  .cardimg {
    width: 50%;
  }
  .title {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 700;
  }
  .ques {
    cursor: pointer;
    padding: 24px;
    font-size: 20px;
    background-color: #222;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  input[type="text"] {
    background: transparent;
    color: white;
    padding: 10px 100px 20px 20px;
    border-radius: 10px;
    border: 1px solid gray;
  }
  .inpbutton {
    background-color: #e50914;
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid #e50914;
    cursor: pointer;
  }
}

@media screen and (max-width: 299px) and (min-width: 200px) {
  .logo {
    padding: 30px 5px 5px 0px;
    height: 25px;
  }
  .register {
    display: flex;
    flex-direction: row;
  }
  #lang {
    padding: 5px 5px 5px 5px;
    background-color: rgb(43, 42, 42);
    color: white;
  }
  .signin {
    /* height: 35px; */
    color: white;
    border-radius: 5px;
    padding: 4px 16px;
    background-color: #e50914;
    border: 1px solid red;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
  }
  .disp-2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .disp-3 {
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .disp-4 {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
    margin-bottom: 15px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
  }
  .cardimg {
    width: 60%;
    margin: auto;
  }
  .c-11 {
    width: 100%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 10px solid gray;
    text-align: center;
  }
  .c-111 {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin: auto; */
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .c-111 > h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .c-111 > h4 {
    font-size: 14px;
  }
  .cardimg {
    width: 50%;
  }
  .title {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 700;
  }
  .ques {
    cursor: pointer;
    padding: 24px;
    font-size: 20px;
    background-color: #222;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  input[type="text"] {
    background: transparent;
    color: white;
    padding: 10px 80px 20px 20px;
    border-radius: 10px;
    border: 1px solid gray;
  }
  .inpbutton {
    background-color: #e50914;
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid #e50914;
    cursor: pointer;
  }
}
